@media (min-width: 500px) {
    .modal_content {
        width: 50%;
    }
}

@media (min-width: 800px) {
    nav a {
    font-size: 32px;
    }

    .containerPosts {
        width: 500px;
    }

    .width_big {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 1000px) {
    .logo_img {
        max-width: 100px;
    }

    .width_big img {
        width: 350px;
    }

    .modal_content {
        width: 30%;
    }
}

