.postsRecipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postsRecipes img {
    max-width: 200px;
}

.postsRecipes a {
    font-family: "gabriola", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: #000000;
}

.containerPosts {
    border: solid 1px;
    padding: 30px;
    background: #F0D9C0;
    margin-bottom: 15px;
}