.postsRecipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postsRecipes img {
    max-width: 200px;
}

.postsRecipes a {
    font-family: "gabriola", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: #000000;
}

.load_more {
    background: #B8E3D4;
      border: none;
      padding: 10px 35px 10px 35px;
      font-family: "candara", Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px;
      cursor: pointer;
}

.load_more:hover {
    border: solid 1px #B8E3D4;
    background: none;
}