@font-face {
    font-family: "candara";
    src: url(/font/candara-light.ttf) format("truetype");
}

@font-face {
    font-family: "gabriola";
    src: url(/font/Gabriola.ttf) format("truetype");
}

.logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
}

.hr_line {
    border-top: 1px solid #BEC1FA;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    text-decoration: none;
    list-style-type: none;
    font-family: "gabriola", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #000000;
}

body {
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "gabriola", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
}

h2, h3 {
    font-family: "gabriola", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

p {
    font-family: "candara", Verdana, Geneva, Tahoma, sans-serif;
}